<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <%= render 'shared/page_header' %>
  <%= themeable_stylesheet_link_tag :theme %>
  <%= themeable_javascript_include_tag :theme %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/images/theme/favicon.png" />
  <title><%=h page_title %></title>
</head>

<body>

<header>
  <div id="logo">
    <h1><span id="logo-inner"><%= link_to(this_blog.blog_name, this_blog.base_url) %></span></h1>
    <p class="desc">
      <%= this_blog.blog_subtitle %>
    </p>
  </div>
  <nav class='navbar navbar-inverse'>
    <div class='navbar-inner'>
      <ul class='nav'>
        <%= content_tag(:li, link_to('Top', this_blog.base_url))%>
        <li><a href="/pages/about-me">サイト・管理人紹介</a></li>
        <%= content_tag(:li, link_to('過去記事', '/archives/')) %>
        <%= content_tag(:li, link_to('静止画MAD Wiki', "/wiki/"))%>
        <li><a href="/pages/event_calener">MADイベントカレンダー</a></li>
        <li><a href="/creation/">制作物・文書</a></li>
        <%= content_tag(:li, link_to('静止画MADリンク集', "/links/"))%>
      </ul>
    </div>
  </nav>
</header>

<section id="external">
  <div id='main' class="main">
    <div class="articles">
      <%= yield %>
    </div>
    <div id='sidebar'>
      <h3 class='sidebar-title'>m@d scene</h3>
      <div class='static-body'>
        <ul class="snav">
          <li><a href='https://www.nicovideo.jp/tag/%E9%9D%99%E6%AD%A2%E7%94%BBMAD?sort=f' class="external" target="_blank">静止画MAD(ニコニコ)</a></li>
          <li><a href='https://search.bilibili.com/all?keyword=%E9%9D%99%E6%AD%A2%E7%B3%BBMAD&from_source=video_tag&spm_id_from=333.788.b_765f746167.2&order=pubdate&duration=0&tids_1=0' class="external" target="_blank">静止系MAD(bilibili)</a></li>
          <li><a href='http://www.ujiarmy.net/' class="external" target="_blank">宇治軍団</a></li>
          <li><a href="https://amv-japan.org/" class="external" target="_blank">AMV Japan</a></li>
          <li><a href="http://amvnews.ru/index.php" class="external" target="_blank">AMV News</a></li>
          <li><a href="http://www.bilibili.tv/" class="external" target="_blank">bilibili動画</a></li>
          <li><a href="http://erogetrailers.com/" class="external" target="_blank">エロゲトレーラー</a></li>
          <li><a href="/mvm/2019/" class="external" target="_blank">静止画M@D大賞2019</a></li>
          <li><a href="/mvm/2020/" class="external" target="_blank">静止画M@D大賞2020</a></li>
          <li><a href="/mvm/2021/?s=1" class="external" target="_blank">静止画M@D大賞2021</a></li>
        </ul>
      </div>
      <%= render_sidebars %>
      <h3 class='sidebar-title'>About me</h3>
      <div class='static-body'>
        <dl class="snav">
          <dt>Name</dt>
          <dd>ばばんばーん（ばばん）</dd>
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/baban">https://twitter.com/baban</a></dd>
          <dt>Mail</dt>
          <dd><a href="mailto:babanba.n@gmail.com">babanba.n@gmail.com</a></dd>
          <dt>Github</dt>
          <dd><a href="https://github.com/baban">https://github.com/baban</a></dd>
        </dl>
        <p class="etc"><a href="http://babanba-n.iobb.net/blog/pages/about_me">その他</a></p>
      </div>
      <h3 class='sidebar-title'>EventCalendar</h3>
      <div class='static-body'>
        <iframe src="https://www.google.com/calendar/embed?title=%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC&amp;showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=450&amp;wkst=1&amp;bgcolor=%23993300&amp;src=jh3rt776m0mfdkmq15mhhlj72c%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=Asia%2FTokyo" style=" border:solid 1px #777 " width="180" height="450" frameborder="0" scrolling="no"></iframe>
      </div>
      <h3 class='sidebar-title'>Twitter</h3>
      <div class='static-body'>
        <a class="twitter-timeline" data-lang="ja" data-width="400" data-height="800" data-theme="dark" data-link-color="#E95F28" href="https://twitter.com/baban?ref_src=twsrc%5Etfw">Tweets by baban</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</section>

<footer>
  <p class="legal">
    <%= t(".powered_by_html", powered_by: link_to('Publify', 'https://publify.github.io')) %>
  </p>
</footer>

</body>
</html>
